Functions and Functional Programming

In [35]:
def add(a,b):
    return a+b

print(add(5,15))

20

Q1. Write a python program (as a function), to calculate the sum of squares of positive integers from 1 to any given n.

In [26]:
def sum_of_squares(n):
    if n <= 0:
        return "Invalid input for n"

    sum = 0
    for n in range(n+1):
        sum = n*n + sum
    return sum

print(sum_of_squares(3))

14

Q2. Write a python function name add_corresponding_numbers that takes two lists of numbers as input and returns a new list containing the sum of corresponding 11s from both lists. if the two list are not of equal length the function should display the message error "lists are not equal length"

In [32]:
def add_corresponding_numbers (list_1, list_2):
    if len(list_1) != len(list_2):
        return "lists are not equal length"

    first_eleven = []

    for i in range(12):
        sum = list_1[i]+list_2[i]
        first_eleven.append(sum)

    return first_eleven

list_A = [10,10,10,10,10,10,10,10,10,10,10,10]
list_B = [5,5,5,5,5,5,5,5,5,5,5,5]


print(add_corresponding_numbers(list_A, list_B))

[15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15]

Positional Arguments

In [ ]:
def add(a,b):
    return a+b

print(add(5,15))

Default Arguments

In [36]:
def add(a,b=10):
    return a+b

print(add(3))

13

Q3. Write a python function name calculate_total that calculate and return the total cost after applying a discount
the function should;
* Take price as a required argument
* Use quantity as an optional argument with a default value of 1
* Use discount as an optional argument with a default value 0
* Apply the discount as a percentage on the total price

In [44]:
def calculate_total(price, quantity=1, discount=0):
    total_price = price * quantity
    total_discount = price * (discount/100) * quantity
    return total_price - total_discount

print(calculate_total(100,2, 10))
print(calculate_total(100))
print(calculate_total(100,2))

180.0
100.0
200.0

Keyword Argument

In [45]:
def add(a,b):
    return a+b

print(add(b=5, a=1))

6

Arbitrary Arguments
1. Arbitrary Positional Arguments
2. Arbitrary Keyword Arguments

Arbitrary Positional Arguments

In [47]:
def arbitrary_positional_args(*args):
    print(args)
    print(type(args))

arbitrary_positional_args(1,2,3,100,'Hello')

(1, 2, 3, 100, 'Hello')
<class 'tuple'>

Q4. Write a python function name sum_numbers that accept any number of numeric arguments and returns their sum

In [50]:
def sum_numbers(*args):
    sum = 0
    for n in args:
        sum += n
    return sum

print(sum_numbers(1,2,3))
print(sum_numbers(4,1))
print(sum_numbers(400,100,200,300,1000))

6
5
2000

Q5. Write a python function name average_positive that accept any number of numeric arguments and calculates the average of all positive numbers only. If no positive numbers are provided, the function should display "No positive numbers provided"

In [55]:
def average_positive (*numbers):
    positive_number_count = 0
    total_of_positives = 0

    for n in numbers:
        if n > 0:
            total_of_positives += n
            positive_number_count += 1

    if positive_number_count == 0:
        return "No positive numbers provided"

    return total_of_positives/positive_number_count

print(average_positive(1,2,-3))
print(average_positive(5,5,5))
print(average_positive(-5,-30,5))
print(average_positive(-5,-30,-5))

1.5
5.0
5.0
No positive numbers provided

4Arbitrary Keyword Arguments

In [68]:
def arbitrary_keyword_args(**kwargs):
    # print(kwargs)
    # print(type(kwargs))
    # print(kwargs['name'])

    for keys in kwargs:
        print(keys)

    print('')

    for values in kwargs.values():
        print(values)

    print('')

    for key, value in kwargs.items():
        print(key, ":", value)


arbitrary_keyword_args(name="John", age=32, city="New York")

name
age
city

John
32
New York

name : John
age : 32
city : New York

Q6. Write a python function name average_score that;
* Accept any number of keyword arguments where:
    1. Keys are subject names (like maths, physics)
    2. Values are stores obtaining each subject
* Calculates and print the average score of all subjects
* If no subjects are provided print "No subjects provided"

In [71]:
def average_score(**subject_score):

    subject_count = 0
    total_score = 0

    for marks in subject_score.values():
        subject_count += 1
        total_score += marks

    if subject_count == 0:
        return "No subjects provided"

    return total_score/subject_count

average_score(maths=50, physics=35, chemestry=60)
average_score(maths=50, physics=35)
average_score(maths=50)
average_score()

'No subjects provided'

Python Built-in Functions

In [74]:
# abs() function

def get_abs(number):
    if number < 0:
        return -number
    return number

print(get_abs(-2))
print(get_abs(2))


def get_abs_built(number):
    return abs(number)

print(get_abs_built(-2))
print(get_abs_built(2))

2
2
2
2

In [77]:
# map() function

def find_square(x):
    return x**2

x = map(find_square, [1,2,3])
resultList = list(x)
print(x)
print(type(x))
print(resultList)
print(type(resultList))

<map object at 0x000001F8EA7E0D00>
<class 'map'>
[1, 4, 9]
<class 'list'>

Q7. Write a python function name fahrenheit_to_celsius that accept a list of temperature in fahrenheit. Use the map function to convert each temperature to Celsius using the following formula Celsius = (fahrenheit-32) * 5/9 return the new list containing the new temperatures in Celsius, rounded to two decimal places

In [95]:
def fahrenheit_to_celsius(temp_in_fa):

    def convert_to_celsius(f):
        c =  (f - 32) * 5/9
        return round(c, 2)

    result = map(convert_to_celsius, temp_in_fa)
    resultList = list(result)
    return resultList

temp_list = [32,100,10]
print(fahrenheit_to_celsius(temp_list))

[0.0, 37.78, -12.22]

Q8. Use the map function with two lists to add their corresponding elements and print the resulting list

In [104]:
def add_elements(x,y):
    return x + y

list_1 = [10,20,30,40,50]
list_2 = [5,10,15,20,25]

result = map(add_elements, list_1, list_2)
resultList = list(result)
print(resultList)

[15, 30, 45, 60, 75]

In [107]:
number_list = [9,5,8,12,13]

def check_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

result = filter(check_even, number_list)
resultList = list(result)
print(resultList)

[8, 12]

Q9. Use the filter  function to extract all numbers from the list [12,15,18,20,25,30,35] that are divisible by 3 but not by 5 and print result in list

In [112]:
def check_div(number):
    if number % 3 == 0 and number % 5 != 0:
        return True
    else:
        return False

number_list = [12,15,18,20,25,30,35]
print(list(filter(check_div, number_list)))

[12, 18]

Lamba Expression

In [115]:
add = lambda x,y : x+y
print(add(1,2))
print((lambda x,y: x+y)(5,5))

3
10

Q10. Write a lamba function to find a maximum of two numbers

In [121]:
maximum = lambda x,y: x if x > y else y
print(maximum(5,10))
print(maximum(15,10))

10
15

Q11. Use a lamba function with the map function to square all numbers in a given list and print the result in list

In [124]:
square = lambda x: x**2
result = map(square, [1,2,3,4,5])
print(list(result))

[1, 4, 9, 16, 25]

Q12. Use a lamda function with the filer function to extract all numbers from a list that are divisible by 3 but not by 5 and print a result in list

In [125]:
div_list = lambda x: True if x%3 == 0 and x%5 != 0 else False
print(list(filter(div_list,[12,15,18,20,25,30,35])))

[12, 18]