Python Tuples

In [ ]:
sample_tuple = ("item-one", 30)
print(type(sample_tuple))

<class 'tuple'>

In [7]:
# Workaround for change/update values from tuples (by default tuples are immutable)

sports = ("Cricket", "Football", "Tennis")
print(type(sports))

sports_list = list(sports)
print(type(sports_list))

sports_list[2] = "Badminton"

sports_new_tuble = tuple(sports_list)
print(type(sports_new_tuble))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [12]:
# Nested Touples
nested_touples = ((1, 2, 3), ("a", "b", "c"), (True, False))
print(nested_touples[1][1])
print(nested_touples[2][0])

b
True

Python Sets

In [ ]:
laptops = {"Asus", "Hp", "Dell"}
print(laptops) # sets are unorderd so values can be display different order than actual set
print(type(laptops))

{'Dell', 'Asus', 'Hp'}
<class 'set'>

In [14]:
laptops_set = {"Asus", "Hp", "Dell", "Mac", "Lenevo", "Hp"}
print(laptops_set) # Sets does not support duplicates

{'Mac', 'Asus', 'Dell', 'Lenevo', 'Hp'}

In [10]:
animals = {"Elephant", "Tiger", "Bear", "Bee", "Lion"}

animals.add("Dog")
print(animals)

animals.update(["Cat", "Parrot"])
print(animals)

animals.remove("Parrot")
print(animals)

{'Tiger', 'Dog', 'Lion', 'Bee', 'Elephant', 'Bear'}
{'Tiger', 'Dog', 'Lion', 'Bee', 'Elephant', 'Cat', 'Parrot', 'Bear'}
{'Tiger', 'Dog', 'Lion', 'Bee', 'Elephant', 'Cat', 'Bear'}

Python Range

In [21]:
ran = range(3, 24, 4)
print(ran[0])
print(ran[1])
print(ran[2])
print(ran[3])
print(ran[4])
print(ran[5])

print(type(ran))

3
7
11
15
19
23
<class 'range'>

In [23]:
r1 = range(2,11,2) # start value, end value, step
r2 = range(2,11) # staet value, end value - step ommited
r3 = range(11) # end value = start value and step ommited

Python Disctionary

In [27]:
dict1 = {
    "name" : "Soap",
    "code": 23,
    "price": 200.50
}

print(dict1)
print(type(dict1))

print(dict1["name"])

dict1["name"] = "Rice"
print(dict1)

{'name': 'Soap', 'code': 23, 'price': 200.5}
<class 'dict'>
Soap
{'name': 'Rice', 'code': 23, 'price': 200.5}

In [ ]:
dict2 = {
    "name": "bhanuka",
    "age": 20,
    "age": 23
}

print(dict2["age"]) # duplicate keys override

23

In [ ]:
my_dict = {
    # "name": "alice",
    42: "Integer key",
    (1,7): "touple key",
    (3,4): "list"
}

print(my_dict.get("name", "default name")) # can be ensure some value assign without throwing unexpexted errors

default name

In [ ]:
item = {
    "name": "Burger",
    "weight": "1Kg",
    "qty": 100
}

item.update({"weight": "2Kg", "date": "2020-10-19"})
print(item)

removed_val = item.pop("name")
print(removed_val)
print(item)

del item["weight"]
print(item)

item.clear()
print(item)

{'name': 'Burger', 'weight': '2Kg', 'qty': 100, 'date': '2020-10-19'}
Burger
{'weight': '2Kg', 'qty': 100, 'date': '2020-10-19'}
{'qty': 100, 'date': '2020-10-19'}
{}

Python Opwrrators

In [1]:
x = 2 ** 3
print(x)

8

In [ ]:
# Arithmetic Operators
x = 9
y = 2
print(x/y)
print(x//y)
print(x%y)

4.5
4
1

In [5]:
# Assignment Operator
x = 6
x += 7 # add and assign

In [9]:
product_ids = ["I001", "I002", "I003", "I001"]
has_duplicate = len(set(product_ids)) != len(product_ids)
print(has_duplicate)

True

In [15]:
# Logical Operators
x = 3
y = 8

print(x<=5 and y<=10)
print(x<10 or y>100)
print(not x<10)

True
True
False

In [28]:
# Identity Operators
x = 10
y = 10
print(x is y)
print(x is not y)

True
False

In [30]:
# Membership Operators
nums = [10, 20, 30 ,40, 10]
print(10 in nums)
print(100 not in nums)

True
True

In [31]:
x = 5
y = 10
print(x & y)

0